.notice-container {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 75em;
}

.notice-list {
    margin-top: 2em;
}

.notice-list-view {
    min-height: 30em;
}

.notice-list-no-notice {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    background: #f2f2f2;
    color: grey;
    position: relative;
    height: 27.3em;
}

.no-results-found {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.notice-list-loading {
    background: transparent;
}

.loader-element {
    margin: 160px auto auto auto !important;
    position: inherit !important;
}

.notice-box {
    margin-top: 8em;
}

.notice-posted-by {
    margin-bottom: 5px;
}

.notice-box-header {
    margin-bottom: 30px !important;
    text-align: center;
}

.notice-view-container {
    padding: 4em 5em 3em 5em;
    min-height: 25em;
}

.notice-view-loading {
    background: transparent;
    margin-top: 23em;
}

.select-all-container {
    padding-bottom: 10px;
    min-height: 46px !important;
}

.select-all-activated-list {
    display: inline-block;
    margin: 0px !important;
    padding: 7.3px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.select-all-button {
    padding: .78571429em .89571429em .78571429em !important;
    border-radius: 0px !important;
}

.search-bar {
    display: inline;
    margin-left: 125px;
    margin-right: 15px;
}

.input-bar input {
    border-radius: 4px !important;
    height: 29px;
}

.calendar-element {
    font-size: 0.8rem !important;
}

.pagination-box {
    text-align: center;
    margin-top: 12px !important;
    min-height: 2px !important;
}

.pagination {
    font-size: 0.8rem !important;
}

.tab-button {
    box-shadow: none !important;
}

.notice-row {
    line-height: 1.7em !important;
}

.notice-row-read {
    background: #f5f5f5 !important;
}

.cell-width-1 {
    width: 0.1504% !important;
    text-align: center;
    border-right: 1px solid rgba(34, 36, 38, 0.1);
}


.cell-width-2 {
    width: 0.33% !important;
    text-align: center;
}

.cell-width-3 {
    width: 0.6% !important;
    text-align: center;
}

.cell-hover {
    cursor: pointer;
}

.dropdown-left {
    margin: 0px 50px !important
}

.dropdown-divider {
    margin: 0px !important;
}

.popup{
    font-size: 0.8rem;
}