.notice-container {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 900px;
    align: center;
}

.notice-list {
    margin-top: 60px;
}

.notice-list-view {
    min-height: 342px;
}

.notice-list-loading {
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
    background: #f4f4f4;
}

.loader-element {
    margin: 160px auto auto auto !important;
    position: inherit !important;
}

.notice-box {
    margin-top: 70px;
}

.notice-posted-by {
    margin-bottom: 5px;
}

.notice-box-header {
    margin-bottom: 30px !important;
    text-align: center;
}

.notice-view-container {
    padding: 2em 5em 3em 5em;
    min-height: 350px;
}

.notice-view-loading {
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    max-height: 830px !important;
}

.select-all-container {
    padding-bottom: 10px;
}

.search-bar {
    display: inline;
    margin-left: 125px;
    margin-right: 15px;
}

.search-bar input {
    width: 320px;
    border-radius: 4px !important;
    height: 29px;
}

.search-bar .results {
    width: 320px !important;
}

.search-form {
    display: inherit;
}

.tab-common-elements {
    display: inline;
}

.pagination-box {
    text-align: center;
    margin-top: 12px !important;
    min-height: 2px !important;
}

.pagination {
    font-size: 0.8rem !important;
}

.tab-dropdown {
    margin-left: 40px;
}

.tab-button {
    box-shadow: none !important;
}

.tab-single-button {
    margin-left: 45px !important;
}

.tab-list {
    line-height: 2em !important;
}

.notice-row-read {
    background: rgba(0, 0, 0, 0.05);
}

.cell-width-1 {
    width: 0.5%;
    text-align: center;
    border-right: 1px solid rgba(34, 36, 38, 0.1);
}


.cell-width-2 {
    width: 9.5%;
    text-align: center;
}

.cell-hover {
    cursor: pointer;
}