.sidenav-menu {
  padding-top: 10px !important;
  margin-left: 0px !important;
  width: 16em !important;
}

.sidenav-items {
  color: rgba(255, 255, 255, 0.7) !important;
  flex-grow: 1 !important;
}

.dropdown-sidenav-space-between {
  display: flex !important;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7) !important;
  flex-grow: 1 !important;
}

.dropdown-sidenav-space-between-active {
  display: flex !important;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2) !important;
  flex-grow: 1 !important;
}

.sidenav-divider {
  background: white;
  opacity: 0.2;
}

.sidenav-icon-styling {
  float: none !important;
  margin-right: 0.7rem !important;
}

.sidenav-active-item {
  background: rgba(255, 255, 255, 0.2) !important;
}

.menu-item-color {
  color: red !important;
}
.dropdown-item-span {
  display: flex;
}
.dropdown-item-span img {
  width: 1.18em;
  margin: 0 0.7em 0 0.5em;
}
