.modal-mount-parent {
  z-index: 100000000;
}
.sub-categories-parent {
  margin: 2rem 0;
}
.sub-categories-radio-parent {
  margin: 1rem 0;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.input-width {
  width: 47%;
}
.notice-upload-checkbox {
  margin: 1.5rem 0;
  font-weight: 900;
}
.margin-above {
  margin-top: 0.5rem;
}
.display-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .input-width {
    width: 95%;
  }
  .display-flex {
    flex-direction: column;
  }
}
